#navbar-2{
    border-bottom: 1px solid black;
}

.results-list{

    border-radius: 5px ;
    box-shadow: 0px 0px 0px black;
    background-color:white;
    position: absolute;
    width:fit-content;
    margin-top: 80px;
    margin-left: 40px;
    max-height: 200px;
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
    
   
}