body  {
 justify-content: center;
 align-items: center;
 
}
#login{
    margin-top: 100px;
    height: 50%;
}
.viewpass{
    float: right;
    margin-left: -25px;
    margin-top: 0px;
    position: relative;
    font-size: large;
    z-index: 2;
    width: 40px;
    height: 42px;
    border: 1px solid rgb(202, 199, 199);  
}